@font-face {
    font-family: 'CopseRegular';
    src: url('/fonts/Copse-Regular-webfont.eot');
    src: url('/fonts/Copse-Regular-webfont.eot?#iefix') format('eot'),
         url('/fonts/Copse-Regular-webfont.woff') format('woff'),
         url('/fonts/Copse-Regular-webfont.ttf') format('truetype'),
         url('/fonts/Copse-Regular-webfont.svg#webfontWKqJmDgH') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
   padding:0;
   margin:0;
   list-style:none;
}

body {
  font-family:CopseRegular,Georgia,serif;
}

h1 {
  padding-bottom:15px;
  border-bottom:1px solid #eee;
  margin-bottom:15px;
  color:indianred;
  letter-spacing:-5%;
}
h1.bigtitle {
  margin-top:45px;
  font-size:42px;
  color:#555;
}

h2 {
   font-family:"Courier New",Courier,monospace;
   font-weight:normal;
   font-size:18px;
}

div#container {
   width:550px;
   margin:auto auto;
   margin-top:25px;
}

ul.posts {
   margin-top:75px;
}

ul.posts li {
   display:block;
   position:relative;
}

ul.posts a {
   display:block;
   background:#eee;
   margin-bottom:1px;
   position:relative;
   text-decoration:none;
   background:#777;
   height:300px;
}
ul.posts a:hover {
  opacity:0.8;
}

span.date {
   color:white;
   position:absolute;
   bottom:0px;
   right:0px;
}

span.title {
   background:royalblue;
   font-weight:bold;
   color:white;
   font-size:42px;
   position:absolute;
   left:0px;
   top:0px;
   border-bottom:3px solid white;
   padding:3px;
}

span.tune {
  position:absolute;
  top:65px;
  left:0px;
  background:deepskyblue;
  color:white;
  font-size:32px;
  padding:3px;
}

div.home {
  margin-bottom:125px;
}
div.home a {
  font-size:24px;
  text-decoration:none;
  color:#555;
  border-bottom:5px solid dodgerblue;
}

div.post h1 {
}

div.paragraphs {
  width:80%;
  margin-top:45px;
  font-family:serif;
}
div.paragraphs p {
  text-indent:25px;
  font-size:16px;
  line-height:25px;
  color:#333;
  margin-bottom:25px;
}